---
http_interactions:
- request:
    method: get
    uri: https://api.globalgiving.org/api/public/services/search/projects?api_key=<GLOBAL_GIVING_KEY>&q=influenza
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml;charset=UTF-8
      X-Amzn-Requestid:
      - 7dadb5c3-6bfc-4bbc-938b-845fa2f59eae
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - J04MMFhloAMFQdw=
      X-Amzn-Remapped-Server:
      - Hidden
      X-Amzn-Remapped-Date:
      - Sat, 04 Dec 2021 13:30:41 GMT
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<search>\n
        \   <request>\n        <q>influenza</q>\n        <start>0</start>\n        <summary>false</summary>\n
        \   </request>\n    <response numberFound=\"3\" start=\"0\">\n        <projects>\n
        \           <project>\n                <active>true</active>\n                <activities>This
        project will improve animal welfare of un-owned, free roaming animals living
        in human dominated areas in urban as well as rural setting. We will provide
        care and comfort to suffering animals through veterinary interventions for
        illness, diseases, and injuries. One important aspect of this project will
        be prevention of various zoonotic diseases like rabies, anthrax, tuberculosis,
        influenza, etc. by vaccinating animals in Ahmedabad and in turn improving
        public health.</activities>\n                <additionalDocumentation>https://www.globalgiving.org/pfil/24980/projdoc.doc</additionalDocumentation>\n
        \               <approvedDate>2016-10-14T10:29:04-04:00</approvedDate>\n                <contactAddress>Amdavad
        Panjrapole Campus, Ambawadi, Ahmedabad-380058,Gujarat, India</contactAddress>\n
        \               <contactCity>Ahmedabad</contactCity>\n                <contactCountry>India</contactCountry>\n
        \               <contactName>Jivdaya Charitable Trust JCT</contactName>\n
        \               <contactPostal>380058</contactPostal>\n                <contactState>Gujarat</contactState>\n
        \               <contactUrl>http://www.jivdayatrust.org</contactUrl>\n                <countries>\n
        \                   <country>\n                        <iso3166CountryCode>IN</iso3166CountryCode>\n
        \                       <name>India</name>\n                    </country>\n
        \               </countries>\n                <country>India</country>\n                <dateOfMostRecentReport>2021-11-30T10:27:07-05:00</dateOfMostRecentReport>\n
        \               <donationOptions>\n                    <donationOption>\n
        \                       <amount>11</amount>\n                        <description>will
        serve 1 day medicine cost for each mobile clinic</description>\n                    </donationOption>\n
        \                   <donationOption>\n                        <amount>25</amount>\n
        \                       <description>will serve treatment of 10 ailing animals
        in single day</description>\n                    </donationOption>\n                    <donationOption>\n
        \                       <amount>50</amount>\n                        <description[...]
