---
http_interactions:
- request:
    method: get
    uri: https://newsapi.org/v2/everything?apiKey=<NEWS_KEY>&from=2021-10-10&language=en&q=influenza&sortBy=popularity&to=2021-10-12
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","totalResults":162,"articles":[{"source":{"id":null,"name":"New
        York Times"},"author":"The New York Times","title":"Moderna and J. & J. Boosters
        Are Probably Coming Soon","description":"An F.D.A. decision could make booster
        shots available to a much wider range of Americans. In Sydney, lockdown-weary
        Australians celebrated “Freedom Day.”","url":"https://www.nytimes.com/live/2021/10/11/world/covid-delta-variant-vaccines","urlToImage":"https://static01.nyt.com/images/2021/10/11/lens/11virus-briefing-week-ahead-01/merlin_195906390_b951b8fd-f7df-4fe5-98b0-8e39ac911037-facebookJumbo.jpg","publishedAt":"2021-10-11T09:57:34Z","content":"LiveUpdated Oct.
        11, 2021, 6:00 a.m. ET\r\nOct. 11, 2021, 6:00 a.m. ET\r\nAn F.D.A. decision
        could make booster shots available to a much wider range of Americans. In
        Sydney, lockdown-weary Australians c… [+10061 chars]"},{"source":{"id":null,"name":"Ctvnews.ca"},"author":null,"title":"Medical
        Officer of Health advises getting both COVID-19 vaccine and flu shot | CTV
        News - CTV News London","description":"<ol><li>Medical Officer of Health advises
        getting both COVID-19 vaccine and flu shot | CTV News  CTV News London\r\n</li><li>Another
        Shot You Should Consider  SaultOnline.com\r\n</li><li>Mayo Clinic Minute:
        Flu during a pandemic  Mayo Clinic\r\n</li><li>Wellesley H…","url":"https://london.ctvnews.ca/just-get-them-both-done-dr-chris-mackie-on-covid-19-vaccine-and-flu-shot-1.5620271","urlToImage":"https://www.ctvnews.ca/content/dam/ctvnews/en/images/2021/9/27/flu-shot-1-5601585-163[...]
- request:
    method: get
    uri: https://newsapi.org/v2/everything?apiKey=BAD_KEY&from=2021-10-10&language=en&q=influenza&sortBy=popularity&to=2021-10-12
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"error","code":"apiKeyInvalid","message":"Your API key is
        invalid or incorrect. Check your key, or go to https://newsapi.org to create
        a free API key."}'
  recorded_at: Mon, 18 Oct 2021 07:07:49 GMT
- request:
    method: get
    uri: https://newsapi.org/v2/everything?apiKey=&from=2021-10-10&language=en&q=influenza&sortBy=popularity&to=2021-10-12
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"error","code":"apiKeyInvalid","message":"Your API key is
        invalid or incorrect. Check your key, or go to https://newsapi.org to create
        a free API key."}'
  recorded_at: Mon, 18 Oct 2021 10:08:11 GMT
- request:
    method: get
    uri: https://newsapi.org/v2/everything?apiKey=<NEWS_KEY>&from=influenza&language=popularity&q=en&sortBy=2021-10-12&to=2021-10-10
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","totalResults":0,"articles":[]}'
  recorded_at: Wed, 01 Dec 2021 14:04:52 GMT
- request:
    method: get
    uri: https://newsapi.org/v2/everything?apiKey=BAD_KEY&from=influenza&language=popularity&q=en&sortBy=2021-10-12&to=2021-10-10
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"error","code":"apiKeyInvalid","message":"Your API key is
        invalid or incorrect. Check your key, or go to https://newsapi.org to create
        a free API key."}'
  recorded_at: Wed, 01 Dec 2021 14:04:53 GMT
- request:
    method: get
    uri: https://newsapi.org/v2/everything?apiKey=<NEWS_KEY>&from=2021-10-10&language=en&q=flu&sortBy=popularity&to=2021-10-12
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 426
      message: Upgrade Required
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"error","code":"parameterInvalid","message":"You are trying
        to request results too far in the past. Your plan permits you to request articles
        as far back as 2021-11-03, but you have requested 2021-10-10. You may need
        to upgrade to a paid plan."}'
  recorded_at: Sat, 04 Dec 2021 03:20:46 GMT
- request:
    method: get
    uri: https://newsapi.org/v2/everything?apiKey=<NEWS_KEY>&from=2021-10-10&language=en&q=covid&sortBy=popularity&to=2021-10-12
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 426
      message: Upgrade Required
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"error","code":"parameterInvalid","message":"You are trying
        to request results too far in the past. Your plan permits you to request articles
        as far back as 2021-11-03, but you have requested 2021-10-10. You may need
        to upgrade to a paid plan."}'
  recorded_at: Sat, 04 Dec 2021 03:55:59 GMT
recorded_with: VCR 6.0.0
